*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.black {
  color: #101010;
}

.white {
  color: #fafafa;
}

.grey {
  color: #4d5055;
}

.red {
  color: #d10000;
}

.orange {
  color: #ff6622;
}

.yellow {
  color: #ffda21;
}

.green {
  color: #33dd00;
}

.blue {
  color: #1133cc;
}

.indigo {
  color: #220066;
}

.violet {
  color: #330044;
}

a, a:hover, a:focus, a:visited {
  outline: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

a {
  color: #33ccff;
}

a:hover, a:focus {
  color: #1133cc;
}

a:active {
  color: #c1133c;
}

a:visited {
  color: #4d5055;
}

mark {
  background: #3fcc3f;
  color: #101010;
}

html {
  border: 0;
  display: block;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

body {
  background-color: #77371e;
  background-image: url("img/bg-5.jpg");
  background-image: url("img/bg-5.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 0;
  display: block;
  font: 19px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif 400 normal;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  text-align: left;
  vertical-align: baseline;
  width: 100%;
}

h1, h2, h3, h4, h4, h6, article h1, section h1 {
  font-weight: 400;
  margin: 0;
}

h1, article h1, section h1 {
  font-size: 4em;
  font-weight: 100;
  letter-spacing: -1px;
}

p, blockquote, blockquote p, ul, ol, dl, dt, dd {
  margin: 0 0 1em;
}

blockquote {
  margin: 0;
}

blockquote p {
  margin-bottom: 0;
}

img {
  height: auto;
  max-width: 100%;
  position: relative;
}

a img {
  border: none;
  outline: none;
  text-decoration: none;
}

fieldset, legend {
  border: none;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.screen-reader-text {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

header[role="banner"], div[role="main"], footer[role="contentinfo"], nav[role="navigation"] {
  margin: 0 auto;
  width: 72em;
  *zoom: 1;
}
header[role="banner"]:before, header[role="banner"]:after, div[role="main"]:before, div[role="main"]:after, footer[role="contentinfo"]:before, footer[role="contentinfo"]:after, nav[role="navigation"]:before, nav[role="navigation"]:after {
  content: " ";
  display: table;
}
header[role="banner"]:after, div[role="main"]:after, footer[role="contentinfo"]:after, nav[role="navigation"]:after {
  clear: both;
}

header[role="banner"] {
  padding: 40px 0;
  text-align: center;
}
header[role="banner"] h1 {
  font-weight: 400;
  letter-spacing: -1px;
  text-transform: capitalize;
}

footer[role="contentinfo"] {
  color: #fafafa;
  padding: 10px 0;
  text-align: left;
}

.landing h1, .landing p {
  color: #fafafa;
}

.landing h1, p {
  margin-bottom: 20px;
}

.block {
  margin-bottom: 20px;
  *zoom: 1;
}
.block:before, .block:after {
  content: " ";
  display: table;
}
.block:after {
  clear: both;
}

.sharing-block {
  display: inline-block;
  margin: 0 0 0 -5px;
  overflow: hidden;
  text-align: center;
  width: 120px;
  *zoom: 1;
}
.sharing-block:before, .sharing-block:after {
  content: " ";
  display: table;
}
.sharing-block:after {
  clear: both;
}

.logo {
  display: block;
  margin: 0;
  width: 200px;
}

input[type="email"].imbookable-input {
  border: 1px solid #d4d4d4;
  display: block;
  float: left;
  font-size: 14px;
  height: 44px;
  line-height: 17px;
  margin-right: 20px;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  width: 300px;
}

input[type="email"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 1;
}

.btn {
  display: inline-block;
  font-weight: 400;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: middle;
  zoom: 1;
}
.btn.reserve {
  background: #ff6622;
  border: none;
  border-radius: 10px;
  color: #fafafa;
  display: block;
  float: left;
  font-size: 14px;
  padding: 14px;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn.reserve:hover {
  background: #4d5055;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn.faq, .btn.fb, .btn.gp, .btn.tw {
  color: #fafafa;
  display: inline-block;
}

#mc_embed_signup div.mc-field-group {
  *zoom: 1;
}
#mc_embed_signup div.mc-field-group:before, #mc_embed_signup div.mc-field-group:after {
  content: " ";
  display: table;
}
#mc_embed_signup div.mc-field-group:after {
  clear: both;
}

#mc_embed_signup .clear {
  clear: both;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}
