html {
border: 0;
display: block;
margin: 0;
min-height: 100%;
padding: 0;
position: relative;
width: 100%;
}
body {
background-color: #77371e;
@include background-image(url("img/bg-5.jpg"));
background-size: cover;
background-position: 50% 50%;
background-repeat: no-repeat;
border: 0;
display: block;
font: $base-type;
margin: 0;
min-height: 100%;
padding: 0;
position: relative;
text-align: left;
vertical-align: baseline;
width: 100%;
}
h1,h2,h3,h4,h4,h6,article h1,section h1 {
font-weight: $regular;
margin: 0;
}
h1,article h1,section h1 {
font-size: 4em;
font-weight: $light;
letter-spacing: -1px;
}
p,blockquote,blockquote p,ul,ol,dl,dt,dd {
margin: 0 0 1em;
}
blockquote {
margin: 0;
}
blockquote p {
margin-bottom: 0;
}
img {
height: auto;
max-width: 100%;
position: relative;
}
a img {
border: none;
outline: none;
text-decoration: none;
}
fieldset,legend {
border: none;
padding: 0;
}
.hide {
display: none;
}
.show {
display: block;
}
.screen-reader-text {
@include hide-text;
}
